In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('../veritoplama/output.xlsx')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Konum          1032 non-null   object
 1   Oda Sayısı     1032 non-null   object
 2   m²             1032 non-null   int64
 3   Bina Yaşı      1032 non-null   int64
 4   Bulunduğu Kat  1015 non-null   float64
 5   Fiyat          1032 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 48.5+ KB

In [5]:
data.head()

         Konum Oda Sayısı   m²  Bina Yaşı  Bulunduğu Kat  Fiyat
0      Çankaya      3 + 1  173          0            6.0  40000
1      Çankaya      3 + 1  183          0           21.0  38000
2      Gölbaşı      1 + 1   45          0            1.0  10750
3  Yenimahalle      3 + 1  150         16            2.0  16500
4      Gölbaşı      2 + 1   65          1            1.0  14500

In [6]:
data = data.dropna(subset=['Bulunduğu Kat'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1015 entries, 0 to 1031
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Konum          1015 non-null   object
 1   Oda Sayısı     1015 non-null   object
 2   m²             1015 non-null   int64
 3   Bina Yaşı      1015 non-null   int64
 4   Bulunduğu Kat  1015 non-null   float64
 5   Fiyat          1015 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 55.5+ KB

In [8]:
data['Bulunduğu Kat'] = data['Bulunduğu Kat'].astype(int)

In [9]:
from sklearn.preprocessing import LabelEncoder

# DataFrame'inizin adını ve 'Oda Sayısı' sütununun adını uygun şekilde değiştirin
# Örneğin, df olarak ve 'Oda Sayısı' sütununun adı 'Oda Sayısı' olarak varsayalım.

label_encoder = LabelEncoder()
data['Oda Sayısı'] = label_encoder.fit_transform(data['Oda Sayısı'])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1015 entries, 0 to 1031
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Konum          1015 non-null   object
 1   Oda Sayısı     1015 non-null   int32
 2   m²             1015 non-null   int64
 3   Bina Yaşı      1015 non-null   int64
 4   Bulunduğu Kat  1015 non-null   int32
 5   Fiyat          1015 non-null   int64
dtypes: int32(2), int64(3), object(1)
memory usage: 47.6+ KB

In [11]:
data.head()

         Konum  Oda Sayısı   m²  Bina Yaşı  Bulunduğu Kat  Fiyat
0      Çankaya           4  173          0              6  40000
1      Çankaya           4  183          0             21  38000
2      Gölbaşı           1   45          0              1  10750
3  Yenimahalle           4  150         16              2  16500
4      Gölbaşı           3   65          1              1  14500

In [12]:
data.tail()

            Konum  Oda Sayısı   m²  Bina Yaşı  Bulunduğu Kat  Fiyat
1027      Çankaya           4  130         25              5  19000
1028      Çankaya           4  125         20              1  13000
1029  Yenimahalle           7  195          6              2  25000
1030        Mamak           4  110         18              1   9500
1031  Yenimahalle           4  120         21              3  12000

In [13]:
# 'Konum' sütununu one-hot encode et
data = pd.get_dummies(data, columns=['Konum'], prefix='Konum')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1015 entries, 0 to 1031
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Oda Sayısı           1015 non-null   int32
 1   m²                   1015 non-null   int64
 2   Bina Yaşı            1015 non-null   int64
 3   Bulunduğu Kat        1015 non-null   int32
 4   Fiyat                1015 non-null   int64
 5   Konum_Altındağ       1015 non-null   bool
 6   Konum_Elmadağ        1015 non-null   bool
 7   Konum_Etimesgut      1015 non-null   bool
 8   Konum_Gölbaşı        1015 non-null   bool
 9   Konum_Kahramankazan  1015 non-null   bool
 10  Konum_Keçiören       1015 non-null   bool
 11  Konum_Mamak          1015 non-null   bool
 12  Konum_Polatlı        1015 non-null   bool
 13  Konum_Pursaklar      1015 non-null   bool
 14  Konum_Sincan         1015 non-null   bool
 15  Konum_Yenimahalle    1015 non-null   bool
 16  Konum_Çankaya        1015 non-null   bool
 17  Konum_Çubuk          1015 non-null   bool
dtypes: bool(13), int32(2), int64(3)
memory usage: 52.5 KB

In [17]:
data.head()

,Oda Sayısı,m²,Bina Yaşı,Bulunduğu Kat,Fiyat,Konum_Altındağ,Konum_Elmadağ,Konum_Etimesgut,Konum_Gölbaşı,Konum_Kahramankazan,Konum_Keçiören,Konum_Mamak,Konum_Polatlı,Konum_Pursaklar,Konum_Sincan,Konum_Yenimahalle,Konum_Çankaya,Konum_Çubuk
0,4,173,0,6,40000,False,False,False,False,False,False,False,False,False,False,False,True,False
1,4,183,0,21,38000,False,False,False,False,False,False,False,False,False,False,False,True,False
2,1,45,0,1,10750,False,False,False,True,False,False,False,False,False,False,False,False,False
3,4,150,16,2,16500,False,False,False,False,False,False,False,False,False,False,True,False,False
4,3,65,1,1,14500,False,False,False,True,False,False,False,False,False,False,False,False,False

In [18]:
# One-hot encode edilen sütun isimlerini al
one_hot_column_names = data.filter(like='Konum').columns

# Sütun isimlerini DataFrame'e çevir
one_hot_column_names_df = pd.DataFrame(one_hot_column_names, columns=['OneHotColumnNames'])

# DataFrame'i CSV dosyasına kaydet
one_hot_column_names_df.to_csv('one_hot_column_names.csv', index=False)

In [19]:
data.head()

,Oda Sayısı,m²,Bina Yaşı,Bulunduğu Kat,Fiyat,Konum_Altındağ,Konum_Elmadağ,Konum_Etimesgut,Konum_Gölbaşı,Konum_Kahramankazan,Konum_Keçiören,Konum_Mamak,Konum_Polatlı,Konum_Pursaklar,Konum_Sincan,Konum_Yenimahalle,Konum_Çankaya,Konum_Çubuk
0,4,173,0,6,40000,False,False,False,False,False,False,False,False,False,False,False,True,False
1,4,183,0,21,38000,False,False,False,False,False,False,False,False,False,False,False,True,False
2,1,45,0,1,10750,False,False,False,True,False,False,False,False,False,False,False,False,False
3,4,150,16,2,16500,False,False,False,False,False,False,False,False,False,False,True,False,False
4,3,65,1,1,14500,False,False,False,True,False,False,False,False,False,False,False,False,False

In [20]:
# 'data' DataFrame'i ve dosya adı (örneğin 'veri.xlsx') üzerinden uygun bir isim belirleyin
data.to_excel('veri.xlsx', index=False)

In [21]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

data = pd.read_excel("veri.xlsx")
# Bağımsız değişkenler (X) ve bağımlı değişken (y) seçimi
X = data.drop('Fiyat', axis=1)
y = data['Fiyat']

# Veriyi eğitim ve test setlerine bölme
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Gradient Boosting modelini oluşturma
gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Modeli eğitme
gb_model.fit(X_train, y_train)
# Modelin performansını değerlendirme
y_pred_gb = gb_model.predict(X_test)

mse_gb = mean_squared_error(y_test, y_pred_gb)
r2_gb = r2_score(y_test, y_pred_gb)

print(f'Gradient Boosting Model - Mean Squared Error: {mse_gb}')
print(f'Gradient Boosting Model - R-squared (R2) Score: {r2_gb}')

Gradient Boosting Model - Mean Squared Error: 36920801.24492319
Gradient Boosting Model - R-squared (R2) Score: 0.3362785642802959

In [22]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared (R2) Score: {r2}')

Mean Squared Error: 101615606.78248411
R-squared (R2) Score: -0.8267332818101623

In [23]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)

mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print(f'Random Forest Model - Mean Squared Error: {mse_rf}')
print(f'Random Forest Model - R-squared (R2) Score: {r2_rf}')

Random Forest Model - Mean Squared Error: 301682727.2115958
Random Forest Model - R-squared (R2) Score: -4.423319269493084

In [24]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

# Veriyi standartlaştırma
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

svr_model = SVR(kernel='linear')
svr_model.fit(X_train_scaled, y_train)
y_pred_svr = svr_model.predict(X_test_scaled)

mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)

print(f'SVR Model - Mean Squared Error: {mse_svr}')
print(f'SVR Model - R-squared (R2) Score: {r2_svr}')

SVR Model - Mean Squared Error: 53787084.37543495
SVR Model - R-squared (R2) Score: 0.033075132145203856

In [25]:
from sklearn.neighbors import KNeighborsRegressor

knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(X_train, y_train)
y_pred_knn = knn_model.predict(X_test)

mse_knn = mean_squared_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)

print(f'KNN Model - Mean Squared Error: {mse_knn}')
print(f'KNN Model - R-squared (R2) Score: {r2_knn}')

KNN Model - Mean Squared Error: 561390472.4236454
KNN Model - R-squared (R2) Score: -9.092058617162873

In [26]:
from sklearn.linear_model import Lasso

lasso_model = Lasso(alpha=0.01, random_state=42)
lasso_model.fit(X_train, y_train)
y_pred_lasso = lasso_model.predict(X_test)

mse_lasso = mean_squared_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print(f'Lasso Model - Mean Squared Error: {mse_lasso}')
print(f'Lasso Model - R-squared (R2) Score: {r2_lasso}')

Lasso Model - Mean Squared Error: 101614352.19267476
Lasso Model - R-squared (R2) Score: -0.8267107281785662

C:\Users\Ronay\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.739e+10, tolerance: 1.450e+08
  model = cd_fast.enet_coordinate_descent(

In [27]:
from sklearn.linear_model import ElasticNet

elasticnet_model = ElasticNet(alpha=0.01, l1_ratio=0.5, random_state=42)
elasticnet_model.fit(X_train, y_train)
y_pred_elasticnet = elasticnet_model.predict(X_test)

mse_elasticnet = mean_squared_error(y_test, y_pred_elasticnet)
r2_elasticnet = r2_score(y_test, y_pred_elasticnet)

print(f'ElasticNet Model - Mean Squared Error: {mse_elasticnet}')
print(f'ElasticNet Model - R-squared (R2) Score: {r2_elasticnet}')

ElasticNet Model - Mean Squared Error: 77993875.33224544
ElasticNet Model - R-squared (R2) Score: -0.40208785203380937

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Örnek veri setini yükleyelim (gerçek verileri kullanmalısınız)
# Örnek olarak, 'Oda Sayısı', 'm²', 'Bina Yaşı', 'Bulunduğu kat', 'Fiyat' sütunları var.
# Veri setinizin yapısına göre sütunları ayarlayın.

# data = pd.read_csv('konut_veri.csv')  # Örnek: CSV dosyasından veri yükleme
# Bu satırı gerçek veri setinizin yüklenmesiyle değiştirin.

# Bağımsız değişkenler (X) ve bağımlı değişken (y) seçimi
X = data[['Oda Sayısı', 'm²', 'Bina Yaşı', 'Bulunduğu Kat']]
y = data['Fiyat']

# Veriyi eğitim ve test setlerine bölelim
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Gradient Boosting Regresyon modelini oluşturalım
gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Modeli eğitelim
gb_model.fit(X_train, y_train)

# Modelin performansını değerlendirelim
y_pred = gb_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared (R2) Score: {r2}')

Mean Squared Error: 174959601.8491914
R-squared (R2) Score: -2.1452307159303823

In [29]:
import joblib

joblib.dump(gb_model, 'gradient_boosting_regressor.joblib')

['gradient_boosting_regressor.joblib']